---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello ☕️</div>
    <div class="text-5xl font-bold">I'm Chengyi Lux Zhang</div>
    <div class="text-3xl py-3 font-bold">Berkeley EECS PhD, Computer Architecture</div>
    <div class="py-2">
      <text class="text-lg">
        Research interest: <br>
        1. Efficient and scalable performance profiling methodologies. <br>
        2. Co-simulation and modeling techniques.
      </text>
    </div>
    <!-- <div class="mt-8">
      <a class="btn btn-primary" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
      <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a>
    </div> -->
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Project Highlights </div>
  </div>

  <HorizontalCard
    title="TACIT"
    img={`${import.meta.env.BASE_URL}/tacit.jpg`}
    desc="Timing accurate core instruction trace"
    url="https://github.com/ucb-bar/tacit_decoder"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="FireFlower"
    img={`${import.meta.env.BASE_URL}/fireflower.jpg`}
    desc="Learning-based basic-block level performance prediction"
    url="https://github.com/iansseijelly/FireFlower"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="CoSMo"
    img={`${import.meta.env.BASE_URL}/cosmo.jpg`}
    desc="An I/O Device Model for Pre-Silicon End-to-End SoC Evaluation"
    url="https://github.com/ucb-bar/RoSE"
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
